# Mutant MoneyBall

In [53]:
# import neccesary libraries
import pandas as pd
import numpy as np

# Import dataframe
df_moneyball = pd.read_csv("mutant_moneyball.csv")
df_moneyball

,Member,TotalValue60s_heritage,TotalValue70s_heritage,TotalValue80s_heritage,TotalValue90s_heritage,TotalValue60s_ebay,TotalValue70s_ebay,TotalValue80s_ebay,TotalValue90s_ebay,TotalValue60s_wiz,TotalValue70s_wiz,TotalValue80s_wiz,TotalValue90s_wiz,TotalValue60s_oStreet,TotalValue70s_oStreet,TotalValue80s_oStreet,TotalValue90s_oStreet
0,warrenWorthington,929056.0,154585.0,23957.0,960.0,23335.0,3362.0,583.0,97.0,"$7,913.00","$1,105.00",$226.00,$65.75,"$68,160.00","$7,360.00",$975.00,$123.00
1,hankMcCoy,929776.0,20705.0,6631.0,881.0,23377.0,1224.0,289.0,82.0,"$7,953.00",$851.00,$89.00,$38.50,"$68,390.00","$5,260.00",$431.00,$81.00
2,scottSummers,933616.0,188635.0,29240.0,739.0,23420.0,5431.0,1031.0,82.0,"$7,993.00","$1,979.00",$438.00,$39.25,"$68,590.00","$11,675.00","$1,427.00",$74.00
3,bobbyDrake,929776.0,154585.0,1514.0,874.0,23377.0,3362.0,70.0,93.0,"$7,953.00","$1,105.00",$48.00,$62.00,"$68,390.00","$7,360.00",$137.00,$108.00
4,jeanGrey,933616.0,179899.0,16868.0,1708.0,23420.0,4903.0,665.0,170.0,"$7,993.00","$1,679.00",$165.00,$108.00,"$68,590.00","$10,265.00",$822.00,$189.00
5,alexSummers,34519.0,144946.0,9352.0,197.0,745.0,2703.0,581.0,21.0,$342.00,$597.00,$253.00,$19.00,"$1,850.00","$3,865.00",$502.00,$24.00
6,lornaDane,76279.0,144946.0,6602.0,731.0,1212.0,2703.0,405.0,41.0,$374.00,$597.00,$116.00,$43.00,"$2,000.00","$3,865.00",$293.00,$44.00
7,ororoMunroe,NaN,171050.0,54205.0,2183.0,NaN,4349.0,1730.0,334.0,NaN,"$1,224.00",$931.00,$158.00,NaN,"$6,890.00","$2,391.00",$273.00
8,kurtWagner,NaN,171050.0,50666.0,NaN,NaN,4349.0,1345.0,NaN,NaN,"$1,224.00",$736.00,NaN,NaN,"$6,890.00","$2,044.00",NaN
9,loganHowlett,NaN,171050.0,52524.0,1079.0,NaN,4349.0,1669.0,100.0,NaN,"$1,224.00",$908.00,$111.00,NaN,"$6,890.00","$2,310.00",$119.00
10,peterRasputin,NaN,171050.0,52575.0,1036.0,NaN,4349.0,1604.0,90.0,NaN,"$1,224.00",$875.00,$72.00,NaN,"$6,890.00","$2,284.00",$130.00
11,seanCassidy,39200.0,171962.0,7331.0,1562.0,910.0,4443.0,317.0,142.0,$347.00,"$1,304.00",$74.00,$119.00,"$2,140.00","$7,430.00",$236.00,$152.00
12,shiroYoshida,NaN,141872.0,143.0,73.0,NaN,2584.0,1.0,11.0,NaN,$466.00,$5.00,$8.00,NaN,"$3,085.00",$9.00,$12.00
13,johnProudstar,NaN,138380.0,NaN,NaN,NaN,2375.0,NaN,NaN,NaN,$410.00,NaN,NaN,NaN,"$2,925.00",NaN,NaN
14,kittyPryde,NaN,NaN,40655.0,NaN,NaN,NaN,963.0,NaN,NaN,NaN,$627.00,NaN,NaN,NaN,"$1,458.00",NaN
15,annaMarieLeBeau,NaN,NaN,10730.0,458.0,NaN,NaN,598.0,26.0,NaN,NaN,$498.00,$35.00,NaN,NaN,$832.00,$51.00
16,rachelSummers,NaN,NaN,16187.0,456.0,NaN,NaN,244.0,50.0,NaN,NaN,$184.00,$8.00,NaN,NaN,$401.00,$30.00
17,ericMagnus,582934.0,3479.0,16696.0,219.0,15957.0,231.0,207.0,15.0,"$4,180.00",$140.00,$209.00,$22.00,"$45,580.00",$870.00,$345.00,$22.00
18,alisonBlaire,NaN,NaN,7198.0,70.0,NaN,NaN,552.0,6.0,NaN,NaN,$286.00,$11.00,NaN,NaN,$567.00,$14.00
19,longshot,NaN,NaN,2893.0,NaN,NaN,NaN,344.0,NaN,NaN,NaN,$199.00,NaN,NaN,NaN,$307.00,NaN
20,jonathanSilvercloud,NaN,NaN,1670.0,2040.0,NaN,NaN,45.0,198.0,NaN,NaN,$56.00,$146.00,NaN,NaN,$91.00,$210.00
21,remyLeBeau,NaN,NaN,NaN,1519.0,NaN,NaN,NaN,255.0,NaN,NaN,NaN,$109.00,NaN,NaN,NaN,$188.00
22,jubilationLee,NaN,NaN,442.0,1150.0,NaN,NaN,116.0,101.0,NaN,NaN,$47.00,$112.00,NaN,NaN,$86.00,$126.00
23,lucasBishop,NaN,NaN,NaN,729.0,NaN,NaN,NaN,65.0,NaN,NaN,NaN,$36.00,NaN,NaN,NaN,$80.00
24,betsyBraddock,NaN,NaN,5573.0,1030.0,NaN,NaN,490.0,95.0,NaN,NaN,$316.00,$106.00,NaN,NaN,$468.00,$109.00
25,charlesXavier,819537.0,166297.0,42197.0,1068.0,21224.0,4415.0,1121.0,83.0,"$7,000.00","$1,453.00",$511.00,$66.00,"$63,095.00","$9,145.00","$1,673.00",$125.00

###   Cleaning the data

In [60]:
# Columns to process (everything except 'Member')
value_columns = [col for col in df_moneyball.columns if col != 'Member']

# Step 1: Clean and convert to numeric (remove $ and commas, convert to float)
for col in value_columns:
    df_moneyball[col] = (
        df_moneyball[col]
        .astype(str)  # Ensure string to apply string methods
        .str.replace('[$,]', '', regex=True)  # Remove $ and commas
        .str.strip()  # Remove spaces if any
        .replace('', np.nan)  # Turn blanks into proper NaN
        .astype(float)  # Convert to float for calculations
    )

# Step 2: Format as "$x,xxx.xx" (only if you want it for display/export, not for calculations)
for col in value_columns:
    df_moneyball[col] = df_moneyball[col].apply(lambda x: f'${x:,.2f}' if pd.notna(x) else '')

# Check result
df_moneyball

,Member,TotalValue60s_heritage,TotalValue70s_heritage,TotalValue80s_heritage,TotalValue90s_heritage,TotalValue60s_ebay,TotalValue70s_ebay,TotalValue80s_ebay,TotalValue90s_ebay,TotalValue60s_wiz,TotalValue70s_wiz,TotalValue80s_wiz,TotalValue90s_wiz,TotalValue60s_oStreet,TotalValue70s_oStreet,TotalValue80s_oStreet,TotalValue90s_oStreet
0,warrenWorthington,"$929,056.00","$154,585.00","$23,957.00",$960.00,"$23,335.00","$3,362.00",$583.00,$97.00,"$7,913.00","$1,105.00",$226.00,$65.75,"$68,160.00","$7,360.00",$975.00,$123.00
1,hankMcCoy,"$929,776.00","$20,705.00","$6,631.00",$881.00,"$23,377.00","$1,224.00",$289.00,$82.00,"$7,953.00",$851.00,$89.00,$38.50,"$68,390.00","$5,260.00",$431.00,$81.00
2,scottSummers,"$933,616.00","$188,635.00","$29,240.00",$739.00,"$23,420.00","$5,431.00","$1,031.00",$82.00,"$7,993.00","$1,979.00",$438.00,$39.25,"$68,590.00","$11,675.00","$1,427.00",$74.00
3,bobbyDrake,"$929,776.00","$154,585.00","$1,514.00",$874.00,"$23,377.00","$3,362.00",$70.00,$93.00,"$7,953.00","$1,105.00",$48.00,$62.00,"$68,390.00","$7,360.00",$137.00,$108.00
4,jeanGrey,"$933,616.00","$179,899.00","$16,868.00","$1,708.00","$23,420.00","$4,903.00",$665.00,$170.00,"$7,993.00","$1,679.00",$165.00,$108.00,"$68,590.00","$10,265.00",$822.00,$189.00
5,alexSummers,"$34,519.00","$144,946.00","$9,352.00",$197.00,$745.00,"$2,703.00",$581.00,$21.00,$342.00,$597.00,$253.00,$19.00,"$1,850.00","$3,865.00",$502.00,$24.00
6,lornaDane,"$76,279.00","$144,946.00","$6,602.00",$731.00,"$1,212.00","$2,703.00",$405.00,$41.00,$374.00,$597.00,$116.00,$43.00,"$2,000.00","$3,865.00",$293.00,$44.00
7,ororoMunroe,,"$171,050.00","$54,205.00","$2,183.00",,"$4,349.00","$1,730.00",$334.00,,"$1,224.00",$931.00,$158.00,,"$6,890.00","$2,391.00",$273.00
8,kurtWagner,,"$171,050.00","$50,666.00",,,"$4,349.00","$1,345.00",,,"$1,224.00",$736.00,,,"$6,890.00","$2,044.00",
9,loganHowlett,,"$171,050.00","$52,524.00","$1,079.00",,"$4,349.00","$1,669.00",$100.00,,"$1,224.00",$908.00,$111.00,,"$6,890.00","$2,310.00",$119.00
10,peterRasputin,,"$171,050.00","$52,575.00","$1,036.00",,"$4,349.00","$1,604.00",$90.00,,"$1,224.00",$875.00,$72.00,,"$6,890.00","$2,284.00",$130.00
11,seanCassidy,"$39,200.00","$171,962.00","$7,331.00","$1,562.00",$910.00,"$4,443.00",$317.00,$142.00,$347.00,"$1,304.00",$74.00,$119.00,"$2,140.00","$7,430.00",$236.00,$152.00
12,shiroYoshida,,"$141,872.00",$143.00,$73.00,,"$2,584.00",$1.00,$11.00,,$466.00,$5.00,$8.00,,"$3,085.00",$9.00,$12.00
13,johnProudstar,,"$138,380.00",,,,"$2,375.00",,,,$410.00,,,,"$2,925.00",,
14,kittyPryde,,,"$40,655.00",,,,$963.00,,,,$627.00,,,,"$1,458.00",
15,annaMarieLeBeau,,,"$10,730.00",$458.00,,,$598.00,$26.00,,,$498.00,$35.00,,,$832.00,$51.00
16,rachelSummers,,,"$16,187.00",$456.00,,,$244.00,$50.00,,,$184.00,$8.00,,,$401.00,$30.00
17,ericMagnus,"$582,934.00","$3,479.00","$16,696.00",$219.00,"$15,957.00",$231.00,$207.00,$15.00,"$4,180.00",$140.00,$209.00,$22.00,"$45,580.00",$870.00,$345.00,$22.00
18,alisonBlaire,,,"$7,198.00",$70.00,,,$552.00,$6.00,,,$286.00,$11.00,,,$567.00,$14.00
19,longshot,,,"$2,893.00",,,,$344.00,,,,$199.00,,,,$307.00,
20,jonathanSilvercloud,,,"$1,670.00","$2,040.00",,,$45.00,$198.00,,,$56.00,$146.00,,,$91.00,$210.00
21,remyLeBeau,,,,"$1,519.00",,,,$255.00,,,,$109.00,,,,$188.00
22,jubilationLee,,,$442.00,"$1,150.00",,,$116.00,$101.00,,,$47.00,$112.00,,,$86.00,$126.00
23,lucasBishop,,,,$729.00,,,,$65.00,,,,$36.00,,,,$80.00
24,betsyBraddock,,,"$5,573.00","$1,030.00",,,$490.00,$95.00,,,$316.00,$106.00,,,$468.00,$109.00
25,charlesXavier,"$819,537.00","$166,297.00","$42,197.00","$1,068.00","$21,224.00","$4,415.00","$1,121.00",$83.00,"$7,000.00","$1,453.00",$511.00,$66.00,"$63,095.00","$9,145.00","$1,673.00",$125.00

### Each variable is in its own column

In [64]:
df_moneyball_melted = pd.melt(
    df_moneyball,
    id_vars=["Member"],
    value_vars=[
        "TotalValue60s_heritage", "TotalValue70s_heritage", "TotalValue80s_heritage", "TotalValue90s_heritage",
        "TotalValue60s_ebay", "TotalValue70s_ebay", "TotalValue80s_ebay", "TotalValue90s_ebay",
        "TotalValue60s_wiz", "TotalValue70s_wiz", "TotalValue80s_wiz", "TotalValue90s_wiz",
        "TotalValue60s_oStreet", "TotalValue70s_oStreet", "TotalValue80s_oStreet", "TotalValue90s_oStreet"
    ],
    var_name="Attribute",
    value_name="Total Value"
)

# Split 'Attribute' into 'Decade' and 'Source'
df_moneyball_melted[['Decade', 'Source']] = df_moneyball_melted['Attribute'].str.split('_', expand=True).iloc[:, 
                    [0, 1]].replace({'TotalValue': ''}, regex=True)

# Drop old 'Attribute' column
df_moneyball_melted = df_moneyball_melted.drop(columns=['Attribute'])

# Reorder columns (optional)
df_moneyball_melted = df_moneyball_melted[['Member', 'Decade', 'Source', 'Total Value']]

print("\nMelted (Tidy) Moneyball Dataframe with Decade and Source:")
df_moneyball_melted

Melted (Tidy) Moneyball Dataframe with Decade and Source:

                Member Decade    Source  Total Value
0    warrenWorthington    60s  heritage  $929,056.00
1            hankMcCoy    60s  heritage  $929,776.00
2         scottSummers    60s  heritage  $933,616.00
3           bobbyDrake    60s  heritage  $929,776.00
4             jeanGrey    60s  heritage  $933,616.00
..                 ...    ...       ...          ...
411         remyLeBeau    90s   oStreet      $188.00
412      jubilationLee    90s   oStreet      $126.00
413        lucasBishop    90s   oStreet       $80.00
414      betsyBraddock    90s   oStreet      $109.00
415      charlesXavier    90s   oStreet      $125.00

[416 rows x 4 columns]

### Each type of observational unit forms its own table

In [ ]:
# Before grouping, strip formatting so Total Value is numeric again
df_moneyball_melted['Total Value'] = (
    df_moneyball_melted['Total Value']
    .astype(str)  # Ensure it's a string before using .str accessor
    .str.replace('[$,]', '', regex=True)  # Remove $ and comma
    .replace('', np.nan)  # Convert blanks to NaN (optional)
    .astype(float)  # Now it's safe to convert back to float
)

# Create pivot table averaging across decades
df_moneyball_decade = pd.pivot_table(
    df_moneyball_melted, 
    values='Total Value', 
    index='Member', 
    columns='Decade', 
    aggfunc='mean'
)

# Fill missing decades with 0
df_moneyball_decade = df_moneyball_decade.fillna(0)

# Format the 'Total Value' columns to display as $x,xxx.xx and replace 0.00 with a blank
df_moneyball_decade = df_moneyball_decade.map(
    lambda x: f"${x:,.2f}" if x != 0 else ''  # Format non-zero values and replace 0.00 with an empty string
)

# Final output
print("\nPivoted Decades DataFrame (averaged across sources):")
df_moneyball_decade

Pivoted Decades DataFrame (averaged across sources):

Decade                       60s         70s         80s      90s
Member
alexSummers            $9,364.00  $38,027.75   $2,672.00   $65.25
alisonBlaire                                   $2,150.75   $25.25
annaMarieLeBeau                                $3,164.50  $142.50
betsyBraddock                                  $1,711.75  $335.00
bobbyDrake           $257,374.00  $41,603.00     $442.25  $284.25
charlesXavier        $227,714.00  $45,327.50  $11,375.50  $335.50
ericMagnus           $162,162.75   $1,180.00   $4,364.25   $69.50
hankMcCoy            $257,374.00   $7,010.00   $1,860.00  $270.62
jeanGrey             $258,404.75  $49,186.50   $4,630.00  $543.75
johnProudstar                     $36,022.50
jonathanSilvercloud                              $465.50  $648.50
jubilationLee                                    $172.75  $372.25
kittyPryde                                    $10,925.75
kurtWagner                        $45,878.25  $13,697.75
loganHowlett                      $45,878.25  $14,352.75  $352.25
longshot                                         $935.75
lornaDane             $19,966.25  $38,027.75   $1,854.00  $214.75
lucasBishop                                               $227.50
ororoMunroe                       $45,878.25  $14,814.25  $737.00
peterRasputin                     $45,878.25  $14,334.50  $332.00
rachelSummers                                  $4,254.00  $136.00
remyLeBeau                                                $517.75
scottSummers         $258,404.75  $51,930.00   $8,034.00  $233.56
seanCassidy           $10,649.25  $46,284.75   $1,989.50  $493.75
shiroYoshida                      $37,001.75      $39.50   $26.00
warrenWorthington    $257,116.00  $41,603.00   $6,435.25  $311.44

In [86]:
# Before grouping, strip formatting so Total Value is numeric again
df_moneyball_melted['Total Value'] = (
    df_moneyball_melted['Total Value']
    .astype(str)  # Ensure it's a string
    .str.replace('[$,]', '', regex=True)  # Remove $ and comma
    .replace('', np.nan)  # Convert blanks to NaN (optional)
    .astype(float)  # Now it's safe to convert back to float
)

# Step 3: Create pivot table averaging across sources
df_moneyball_source = pd.pivot_table(
    df_moneyball_melted, 
    values='Total Value', 
    index='Member', 
    columns='Source', 
    aggfunc='mean'
)

# Optional - fill missing sources with 0
df_moneyball_source = df_moneyball_source.fillna(0)

# Format the 'Total Value' columns to display as $x,xxx.xx and replace 0.00 with a blank
df_moneyball_source = df_moneyball_source.map(
    lambda x: f"${x:,.2f}" if x != 0 else ''  # Format non-zero values and replace 0.00 with an empty string
)

# Final output
print("\nPivoted Source DataFrame (averaged across sources):")
df_moneyball_source

Pivoted Source DataFrame (averaged across sources):

Source                    ebay     heritage     oStreet        wiz
Member
alexSummers          $1,012.50   $47,253.50   $1,560.25    $302.75
alisonBlaire           $279.00    $3,634.00     $290.50    $148.50
annaMarieLeBeau        $312.00    $5,594.00     $441.50    $266.50
betsyBraddock          $292.50    $3,301.50     $288.50    $211.00
bobbyDrake           $6,725.50  $271,687.25  $18,998.75  $2,292.00
charlesXavier        $6,710.75  $257,274.75  $18,509.50  $2,257.50
ericMagnus           $4,102.50  $150,832.00  $11,704.25  $1,137.75
hankMcCoy            $6,243.00  $239,498.25  $18,540.50  $2,232.88
jeanGrey             $7,289.50  $283,022.75  $19,966.50  $2,486.25
johnProudstar        $2,375.00  $138,380.00   $2,925.00    $410.00
jonathanSilvercloud    $121.50    $1,855.00     $150.50    $101.00
jubilationLee          $108.50      $796.00     $106.00     $79.50
kittyPryde             $963.00   $40,655.00   $1,458.00    $627.00
kurtWagner           $2,847.00  $110,858.00   $4,467.00    $980.00
loganHowlett         $2,039.33   $74,884.33   $3,106.33    $747.67
longshot               $344.00    $2,893.00     $307.00    $199.00
lornaDane            $1,090.25   $57,139.50   $1,550.50    $282.50
lucasBishop             $65.00      $729.00      $80.00     $36.00
ororoMunroe          $2,137.67   $75,812.67   $3,184.67    $771.00
peterRasputin        $2,014.33   $74,887.00   $3,101.33    $723.67
rachelSummers          $147.00    $8,321.50     $215.50     $96.00
remyLeBeau             $255.00    $1,519.00     $188.00    $109.00
scottSummers         $7,491.00  $288,057.50  $20,441.50  $2,612.31
seanCassidy          $1,453.00   $55,013.75   $2,489.50    $461.00
shiroYoshida           $865.33   $47,362.67   $1,035.33    $159.67
warrenWorthington    $6,844.25  $277,139.50  $19,154.50  $2,327.44

### Stack